/* reseteo de estilos */
*,
*::before,
*::after{
    margin:0;
}
/* convierto la imagen y el parrafo en flex para que queden en linea */
body{
    margin-left: 11px;
}

h1{
    font-family: "playfair display", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    width: 323px;
    height: 29px;
    margin: 32px 41px 12px 0px;
}
#parrafo{
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
#parrafo p{
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 12px;
    line-height: 14.63px;
    width: 320px;
    height: 88px;
}
#cake{
    padding-top: 11.83px;
    width: 352px;
    height: 213.83px;
}
#cake img{
    width: 100%;
    border-radius: 12px;
}
.details{
    display: flex;
    gap: 1rem;
    margin-bottom: 20.75px;
}
.icon{
    width: 13.54px;
    height: 12.57px;
}
#fork,#servings{
    color: #f2994a;
}
.description :nth-child(1){
    font-family: "montserrat";
    font-weight: bold;
    font-size: 8px;
    line-height: 10px;
    color: #bdbdbd;
}
.description :nth-child(2){
    font-family: "montserrat";
    font-weight: medium;
    font-size: 10px;
    line-height: 12px;
    color: #333333
}
.times{
    margin-right: 42.29px;
    display: flex;
    justify-content: space-between;
}
.check{
    display: flex;
    gap: 8px;
}
#ingredients{
    color: #333333;
}
#ingredients h2{
    font-family: "playfair display", serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 13px;
}
#ingredients h3{
    font-family: "playfair display", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.33px;
    margin-bottom: 13px;
}
input{
    border: solid 1px #828282;
    width: 21px;
    height: 21px;
}
.check p{
    width: 321px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}
.check p span{
    font-weight: 700;
}
.intruction{
    display: flex;
    gap: 15px;
}
.intruction div{
    width: 36px;
    height: 36px;
    text-align: center;
    background-color: #f2994a;
    border-radius: 6px;
    color: white;
}
.ancho p{
    width: 300px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}
.intruction div p{
    font-family: "playfair display", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #ffff;
}
